<p>login works!</p>

<form>
    <div class="form-group">
     <label>username</label>
     <input type="text" class="form-control" placeholder="Email" name="username" [(ngModel)]="username">
    </div>
    <div class="form-group">
        <label>password</label>
        <input type="password" class="form-control" placeholder="password" name="password" [(ngModel)]="password">
       </div>
       <div>
        <button (click)="insert()">login</button>
       </div>
       <div>
        <button (click)="get()">Get</button>
       </div>
</form>
